<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>final_project</display-name>
    <filter>
        <filter-name>Encodingfilter</filter-name>
        <filter-class>by.makedon.selectioncommittee.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Encodingfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>DeleteUserFromSystemFilter</filter-name>
        <filter-class>by.makedon.selectioncommittee.filter.DeleteUserFromSystemFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DeleteUserFromSystemFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SessionCreatorFilter</filter-name>
        <filter-class>by.makedon.selectioncommittee.filter.SessionCreatorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionCreatorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminCommandProtectFilter</filter-name>
        <filter-class>by.makedon.selectioncommittee.filter.AdminCommandProtectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminCommandProtectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>UserCommandProtectFilter</filter-name>
        <filter-class>by.makedon.selectioncommittee.filter.UserCommandProtectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserCommandProtectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SaveQueryToSessionFilter</filter-name>
        <filter-class>by.makedon.selectioncommittee.filter.SaveQueryToSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SaveQueryToSessionFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SaveQueryToSessionFilter</filter-name>
        <url-pattern>/WEB-INF/security/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SaveQueryToSessionFilter</filter-name>
        <url-pattern>/Controller</url-pattern>
    </filter-mapping>
    <servlet>
        <display-name>Controller</display-name>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.makedon.selectioncommittee.controller.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/error/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/error/error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>504</error-code>
        <location>/jsp/error/error504.jsp</location>
    </error-page>
    <error-page>
        <error-code>414</error-code>
        <location>/jsp/error/error414.jsp</location>
    </error-page>
    <listener>
        <listener-class>by.makedon.selectioncommittee.listener.SessionListener</listener-class>
    </listener>
</web-app>